.add-header{
    
  width: 240px;
  height: 23px;
  display: block;
  font-family: Lexend Exa;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 22px;
color: #228B22;
justify-content: center;
line-height: 22px;
text-align: center;
margin-left: 42%
}

.add-input{
  border-radius: 10px;
  background: #DBD9D9;
  width: 100%;
  height: 50px;
  font-size: 20px;
}

.add-submit-btn{
  width: 102px;
height: 45px;
font-size: 20px;
background: #228B22;
border-radius: 10px;

}