.spotify{
    height:100px;
    width:100px;
    margin: auto -5px;
    float: left;
    position:absolute;
    left:25px; 
    top:350px;
}
.amazon{
    height:100px;
    width:100px;
    margin: auto -5px;
    float: left;
    position:absolute;
    left:25px; 
    top:1250px;

}
.grammar{
    height:100px;
    width:100px;
    margin: auto -5px;
    float: left;
    position:absolute;
    left:25px; 
    top:1180px;
}
.hbo{
    height:100px;
    width:100px;
    margin: auto -5px;
    float: left;
    position:absolute;
    left:25px; 
    top:1600px;
}